.main-section__info-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  padding: 16px 40px;
  max-width: 1365px;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 50%);
}

